@import "tailwindcss";

:root {
    /* CORES PRINCIPAIS */
    --color-primary: #0072CE;       /* Azul principal */
    --color-primary-dark: #004AAD;  /* Azul mais escuro (hover) */
    --color-secondary: #009A44;     /* Verde principal */
    --color-secondary-dark: #006F34;/* Verde mais escuro (hover) */

    /* COR DE DESTAQUE (COMPRO CATALISADOR) */
    --color-accent: #C6D600;        /* Amarelo/Verde-limão */

    /* FUNDOS E CARDS */
    --color-background: #FFFFFF;    /* Fundo da página */
    --color-card: #F7F9FB;          /* Cards / contêineres */

    /* TEXTO */
    --text-primary: #1A1A1A;
    --text-secondary: #4A4A4A;
}

.dark {
    /* CORES PRINCIPAIS */
    --color-primary: #0090FF;       /* Azul mais vibrante no dark */
    --color-primary-dark: #0072CE;
    --color-secondary: #00C465;     /* Verde iluminado no dark */
    --color-secondary-dark: #009A44;

    /* COR DE DESTAQUE */
    --color-accent: #C6D600;

    /* FUNDOS E CARDS */
    --color-background: #0B0D0F;    /* Fundo quase preto */
    --color-card: #121417;          /* Cards escuros */

    /* TEXTO */
    --text-primary: #FFFFFF;
    --text-secondary: #A7B0BC;
}

.texto-color-laranja{
    color: var(--color-primary) !important;
}

.texto-secondary {
    color: var(--color-secondary) !important;
}

.background-card {
    background-color: var(--color-card) !important;
}

.background-laranja {
    background-color: var(--color-primary-dark) !important;
}

body {
    font-family: 'CodecPro', sans-serif !important;
}

@font-face {
    font-family: 'CodecPro';
    src: url('../../public/fonts/CodecPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CodecPro';
    src: url('../../public/fonts/CodecPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CodecPro';
    src: url('../../public/fonts/CodecPro-Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'uni-neue';
    src: url('../../public/fonts/CodecPro-ExtraBold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
